<div class="container">
	<div class="row">
		<div class="col s12 m8 offset-m2">
			<h3 class="center-align deep-purple-text">
				Personify
			</h3>

			<p>
				I created this application as a simple crud app.
				I needed an excuse to give coffeescript a try with express, so I made a simple API.
				To go along with that I made this frontend, but it turned out really bland. So I added some voice
				commands to the application.
			</p>

			<hr />

			<h5 class="center-align">Try some commands!</h5>

			<ul>
				<li>
					<i class="fa fa-fw fa-home"></i>
					"Home"/"Personify": Home page
				</li>

				<li>
					<i class="fa fa-fw fa-users"></i>
					"List People": People listing page
				</li>

				<li>
					<i class="fa fa-fw fa-info"></i>
					"About": Brings you here!
				</li>

				<li>
					<i class="fa fa-fw fa-phone"></i>
					"Contact": Contact Page
				</li>
			</ul>

			<p>But watch your language. The app doesn't appreciate cursing.</p>
		</div>
	</div>
</div>
