<div class="container-fluid">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="person-card card">
                <div class="card-content">
                    <h3 class="card-title center-align deep-purple-text">
                        Add A Person
                    </h3>

                    <form id="edit_person">
                        <div class="row">
                            <div class="col s12">
                                <label for="first_name">First Name:</label>
                                <input type="text" id="first_name" name="first_name" placeholder="First Name" class="validate" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label for="last_name">Last Name:</label>
                                <input type="text" id="last_name" name="last_name" placeholder="Last Name" class="validate" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label for="date_of_birth">Date Of Birth:</label>
                                <input type="text" id="date_of_birth" name="date_of_birth" placeholder="Date of Birth" class="validate" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label for="zip">Zip Code:</label>
                                <input type="text" id="zip" name="zip" placeholder="Zip Code" class="validate" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-action">
                    <button id="cancel" class="waves-effect waves-light btn deep-purple">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>

                    <button id="create" class="waves-effect waves-light btn deep-purple pull-right">
                        <i class="fa fa-check"></i>
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
