<div class="navbar-fixed">
    <nav class="deep-purple">
        <a href="#" class="brand-logo">Personify</a>

        <ul class="right hide-on-small-and-down">
            <li>
                <a href="#/about">
                    <i class="fa fa-info-circle nav-icon"></i>
                    About
                </a>
            </li>

            <li>
                <a href="#/contact">
                    <i class="fa fa-envelope-o nav-icon"></i>
                    Contact
                </a>
            </li>
        </ul>

        <a data-activates="slide-out" class="button-collapse hide-on-med-and-up">
            <i class="mdi-navigation-menu"></i>
        </a>

        <ul id="slide-out" class="side-nav">
            <li>
                <a href="#/">
                    <i class="fa fa-2x fa-users"></i>
                    Personify
                </a>
            </li>

            <li>
                <a href="#/about">
                    <i class="fa fa-2x fa-info-circle nav-icon"></i>
                    About
                </a>
            </li>

            <li>
                <a href="#/contact">
                    <i class="fa fa-2x fa-envelope-o nav-icon"></i>
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</div>

<script>
    $(".button-collapse").sideNav();
</script>