<div class="container">
	<div class="row">
		<div class="col s12">
			<h3 class="center-align deep-purple-text">
				People
			</h3>

			<button id="add_a_person" class="waves-effect waves-effect-light deep-purple btn">
				<i class="fa fa-user"></i>
				Add A Person
			</button>
			
			<div id="people-collection-container">
				<!-- People collection will render here -->
			</div>
		</div>
	</div>
</div>