<a href="#/people/<%= _id %>" class="collection-item deep-purple-text">
  <%= first_name %> <%= last_name %>

  <span class="badge">
    <i class="fa fa-calendar"></i>
    <%= date_of_birth %>
  </span>
</a>
